.card {
    padding: 30px 40px;
    flex-direction: row;
    gap: 30px;
    background-color: rgb(15, 15, 15) ;
    color: #fff;
    border-radius: 15px;
    justify-content: center;
}
.card .card-cover {
    transition: .4s;
    border-radius: 8px;
    max-width: 300px;
}

.card .card-cover:hover {
    box-shadow: 0px 0px 20px var(--green-main);
    cursor: pointer;
}

.card .card-cover img {
    width: 100%;
    border-radius: 8px;
}

.card .card-text {
    font-size: 14px;
}

.card .card-title .title-deitals {
    font-size: 14px; 
}

.card .card-title .title-deitals img {
    cursor: pointer;
}

.card .card-title .title-deitals p {
    margin-top: 8px;
}

.card .card-text p {
    font-size: 20px;
}

@media screen and (max-width:1000px) {
    .card {
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 20px;
    }

    .card .card-cover {
        max-width: 70%;
    }

    .card .card-text p {
        font-size: 20px;
    }

    .card .card-title {
        margin-top: 0 !important;
    }
}


@media screen and (max-width: 768px) {
    .card .card-text p {
        font-size: 16px;
    }

    .row.text-center.justify-content-center.mt-3 {
        margin-top: 10px !important;
    }

}